.film-card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid #696e6e 0.5px;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(213, 247, 90, 0.3);

  &__image {
    width: 200px;
    height: 287px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}