@import '../../../node_modules/normalize.css/normalize.css';
@import './variables.scss';
@import './button';
@import './link';

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-out;
}

fieldset {
  margin: 0;
  padding: 0;
}

@media (max-width: $content-width) {
  .wrapper {
    max-width: $small-content-width;
  }
}

@media (max-width: $small-content-width) {
  .wrapper {
    max-width: $tablet-width;
  }
}

@media (max-width: $tablet-width) {
  .wrapper {
    max-width: $mobile-width;
  }
}