@import '../../../node_modules/normalize.css/normalize.css';
@import './variables.scss';

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

p {
  margin: 0;
}