body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: 400;
  line-height: 1.2;
  color: $color-black;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.section-wrapper {
  padding-top: 40px;
  color: black;
}

.error {
  color: black;
  position: absolute;
  top: 50%;
  left: calc(50% - 250px);
}

.about {
  color: black;
}

p {
  margin: 0;
}