.search-bar {
  @extend %flex;

  &__container {
    @extend %flex;
  }

  &__options {
    @extend %flex;
  }

  &__option {
    @extend %flex;
  }

  &__input {
    outline: none;
    border: none;

    &_year {
      width: 50px;
    }
  }

  .search-bar__button {
    background-color: lighten($color: #A79E8B, $amount: 20%);
    border: solid 1px black;
  }
}

%flex {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 1024px) {
  .search-bar {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;

    &__options {
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .search-bar {
    &__container {
      column-gap: 5px;
    }
  }
}