.header {
  background-color: #A79E8B;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    justify-self: center;
  }
}