$color-black: black;
$color-white: white;
$color-loading: rgb(231, 116, 116);
$color-modal-bgc: rgba(0, 0, 0, .5);
$color-border: #757575;
$color-btn-submit: #c3d9eb;
$color-card-bgc: #ccc;
$color-switch: #2196F3;
$color-error: red;
$color-header-bgc: rgb(100, 100, 100);